/* Estilo para a pagina inicial */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/fundo2.webp);
  background-attachment: fixed;
  background-size: 300px 300px;
  text-align: center;
}

.fonte {
  
}

a {
  border: none;
  font-size: 25px;
  background-color: white;
}

p {
  font-size: 25px;
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
  font-size: 25px;
  margin: 20px;
  background-color: white;
  padding: 20px;
  border: 20px solid black;
}

nav a {
  display: inline-block;
  margin-right: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  width: 235px;
  margin-right: 20px;
  text-align: center;
}

li img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: black;
}

h3 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}